@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body{
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  min-height: 100vh;
}

#header {
  justify-content: center;
  display: block;
  border: 5px solid #eaae08;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

#buttonplace {
  position:fixed;
  justify-content: space-around;

}
.indexImage{
  display: block;
justify-content: center;
width: 80%;
margin-top: auto;
opacity: .6;
margin-left: auto;
margin-right: auto;
}

#mainlinks {
  display: block;
  margin-top: 30px;
  margin-bottom: 20rem;
  margin-left: 40%;
  margin-right: 40%;
  position: center;
}

#title{
  text-align: center;
  text-shadow: #eaae08;
  font-size: 60px;
  text-decoration: underline;
}
.customLabel {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-weight: 20rem;
}

.htmlButton {
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.htmlButton:hover {
  color: #000;
  background: rgb(255, 218, 87);
}