<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FoodFinderStyles.css">
  </head>
  <body>
     <div id="mainpage">
      <h1 id="title">Hoo Hoo It's Dr. Sillystringz Factory</h1>  
      <img src="https://placeholder.com/jpg" alt="placeholder" class="placeholder"> 
      <div class ="blurbcontain"
        <h2 id="blurb">Gatekeep banh mi ennui DSA, litsicle drinking vinegar butcher yr. </h2> 
     </div>
      <p>
        @Html.ActionLink("Click here for Machine index", "Index", "Machines", null)
        @Html.ActionLink("See all Engineers", "Index", "Engineers", null)
      </p>
     </div>
  </body>
</html>