<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
     <div class="container">
      <h1 id="title">Welcome to Dr. SillyStringz Factory</h1>  
      <img src="https://images.unsplash.com/photo-1610891015188-5369212db097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80" alt="factory" class="indexImage"> 
      <br>
     </div>
      <div id="mainlinks">
        <p>
        @Html.ActionLink("See all Machines", "Index", "Machines", null, new { @class="htmlButton"}) 
        @Html.ActionLink("See all Engineers", "Index", "Engineers", null, new { @class="htmlButton"})        
        </p>
      </div>
  </body>
</html>